.imageWithVideo {
  isolation: isolate;
  .imageContainer {
    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
      lightgray 50% / cover no-repeat;
    border-radius: 0.5rem;
    z-index: 1;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    margin: -7rem auto 0;
    max-width: clamp(30rem, calc(38vw / 0.48), 48rem);
    position: relative;
    z-index: 2;
    background-color: #fafafa;
    border-radius: 0.5rem;
    padding: clamp(0.5rem, calc(2vw / 0.48), 2rem);
    text-align: center;
    display: grid;
    justify-items: center;

    .heading {
      color: var(--neutral-800, #141414);
      font-size: var(--typography-header-l, 1.75rem);
      font-weight: 400;
      letter-spacing: -0.03em;
      margin-bottom: 1rem;
    }

    .description {
      margin-bottom: 2rem;
      font-size: var(--typography-body-m, 0.875rem);
    }
  }

  @media (max-width: 43.6875rem) {
    .header {
      margin-top: -4rem;
    }
  }

  @media (max-width: 34.3125rem) {
    .header {
      margin-top: -1.5rem;
      max-width: none;
      padding: 1rem clamp(0.5rem, calc(1vw / 0.48), 1rem);
    }
  }

  @media (max-width: 27.4375rem) {
    .header {
      .heading {
        font-size: var(--typography-header-m, 1.5rem);
      }

      a {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
