.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin: clamp(2rem, calc(2.5vw / 0.48), 3rem) 0;

  @media (max-width: 32.4375rem) {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1.5rem;

    article {
      width: 100%;
      max-width: 100%;

      a {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
