.imageTextColumns {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  gap: 2rem;

  img {
    width: clamp(380px, calc(380vw / 7.68), 501px);
    height: auto;
    max-height: 501px;
    flex-shrink: 0;
    border-radius: 0.25rem;
  }

  .header {
    .heading {
      margin-bottom: 1rem;
    }

    .content {
      margin-bottom: 1.25rem;
      font-size: var(--typography-body-m, 0.875rem);

      h3 {
        color: var(--neutral-600, #5b5a5a);
        line-height: 1.16;
        font-weight: 400;
        font-size: var(--typography-body-l, 1rem);
        font-family: var(--font-family-poppins);
        margin-top: 1rem;
      }
    }
  }

  @media (max-width: 56.1875rem) {
    flex-direction: column;

    img {
      width: 100%;
    }
  }

  @media (max-width: 27.4375rem) {
    .header {
      a {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
