.twoColumnContent {
  padding: clamp(1rem, calc(2vw / 0.48), 2rem);
  border-radius: 0.5rem;
  background: var(--neutral-200, #f8f8f8);

  .heading {
    margin-bottom: clamp(1rem, calc(1.5vw / 0.48), 2rem);
  }

  .contentWrapper {
    position: relative;

    .content {
      column-count: 2;
      column-gap: 4rem;
      column-rule: 0.0625rem solid var(--neutral-400);
      font-size: var(--typography-body-m, 0.875rem);

      h3:not(:first-child) {
        margin-top: 2rem !important;
        break-after: avoid;
        break-inside: avoid;
      }

      p {
        break-inside: avoid;
      }

      img {
        break-inside: avoid;
        page-break-inside: avoid;
      }
    }
  }

  .distributionYearBadge {
    position: relative;
    text-align: center;
    padding: clamp(1rem, calc(2vw / 0.48), 2rem);
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: clamp(1.5rem, calc(2vw / 0.48), 2rem);
    isolation: isolate;

    img {
      position: absolute;
      inset: 0;
      z-index: 0;
      pointer-events: none;
      object-fit: cover;
      z-index: -2;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.95) 0%,
        rgba(0, 0, 0, 0.3) 100%
      );
      z-index: -1;
    }

    h3 {
      color: var(--neutral-white, #ffffff);
    }
  }

  [data-product-gallery] {
    margin-top: clamp(1.5rem, calc(2vw / 0.48), 2rem);
  }

  @media (max-width: 33.6875rem) {
    &.twoColumnContent {
      width: 100%;
    }
  }

  @media (max-width: 43.6875rem) {
    .contentWrapper {
      .content {
        column-count: 1;
        column-gap: 0;
        column-rule: none;
      }
    }
  }
}
