.portableText {
  p {
    margin-top: 1rem;
  }

  ul,
  ol {
    margin-top: 0.5rem;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1rem;
  }

  li {
    margin-top: 0.5rem;
  }

  ul li {
    padding-left: 1rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0.5rem;
      left: 0.25rem;
      width: 0.25rem;
      height: 0.25rem;
      background-color: var(--neutral-600, #5b5a5a);
      border-radius: 50%;
    }
  }

  strong {
    font-weight: 500;
    color: var(--neutral-black, #000000);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.16;
    font-family: var(--font-family-switzer);
    font-weight: 500;
    color: var(--neutral-700, #303030);
    letter-spacing: -0.03em;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: var(--neutral-700, #303030);
    margin-top: 1.5rem;
    font-size: var(--typography-body-xl, 1.125rem);

    strong {
      font-weight: 500;
    }
  }

  h2 {
    margin-top: clamp(2rem, calc(3vw / 0.48), 3rem);
    margin-bottom: clamp(1rem, calc(1.75vw / 0.48), 1.5rem);
    font-size: var(--typography-header-m, 1.5rem);
  }

  > a {
    margin-top: 1rem;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  // Blockquote styling - Apple-inspired minimal design
  blockquote {
    margin-top: 1rem;
    padding: 0;
    padding-left: clamp(1.25rem, calc(1.5vw / 0.48), 1.75rem);
    border-left: 2px solid var(--neutral-400, #e7e7e7);
    color: var(--neutral-700, #5b5a5a);
    font-family: var(--font-family-switzer);
    font-weight: 500;
    font-size: var(--typography-body-m, 1rem);
    line-height: 1.7;
    max-width: 90%;
    position: relative;

    p {
      margin-top: 0;
      font-style: italic;

      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }

    strong {
      font-style: normal;
      font-weight: 500;
      color: var(--neutral-700, #303030);
    }
  }
}


