.publicationType {
  grid-area: publicationType;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--neutral-500, #c5c5c5);
  border-radius: 0.25rem;
  font-size: var(--typography-body-s, 0.75rem);
  line-height: 1.5;
  color: var(--neutral-700, #303030);
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: var(--neutral-700, #303030);
  justify-self: start;
}
