.latestPublication {
  padding: clamp(1.5rem, calc(3vw / 0.48), 4.5rem) 0 2.5rem;

  .heading {
    margin-bottom: 2rem;
  }

  .container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: clamp(2rem, calc(2.5vw / 0.48), 3rem);

    img {
      // width: 502px;
      width: clamp(320px, calc(320vw / 7.68), 502px);
      // aspect-ratio: 502 / 405;
      border-radius: 0.25rem;
    }

    .header {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: repeat(3, auto) 1fr;
      grid-template-areas:
        'date publicationType'
        'title title'
        'description description'
        'button button';

      span:nth-of-type(2) {
        margin-left: 1.5rem;
      }

      .title {
        grid-area: title;
        margin: 0.5rem 0 1rem;
        font-size: 1.125rem;
        color: var(--neutral-700, #303030);
        -webkit-text-stroke-width: 0.25px;
        -webkit-text-stroke-color: var(--neutral-700, #303030);
        font-family: var(--font-family-switzer);
        font-weight: 400;
        line-height: 1.16;
      }

      .description {
        grid-area: description;
        margin-bottom: clamp(1.5rem, calc(1.75vw / 0.48), 2rem);
        font-size: var(--typography-body-m, 0.875rem);
        max-width: 38.625rem;
        display: -webkit-box;
        line-clamp: 8;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.5;
        -webkit-line-clamp: 4;
      }
      > a {
        grid-area: button;
        align-self: start;
      }
    }
  }

  @media (max-width: 56.1875rem) {
    .container {
      grid-template-columns: 1fr;

      img {
        width: 100%;
      }
    }
  }

  @media (max-width: 27.4375rem) {
    .container .header {
      a {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
