.imageWithTextBoxes {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 0.5rem;
  justify-items: center;
  grid-template-areas:
    "header header"
    "image boxes"
    "ctaParagraph ctaParagraph"
    "ctaButton ctaButton";

  .header {
    margin-bottom: clamp(1.5rem, calc(2vw / 0.48), 3rem);
    max-width: 37.25rem;
    text-align: center;
    grid-area: header;
  }

  img {
    grid-area: image;
    width: clamp(300px, calc(360vw / 7.68), 473px);
    height: 100%;
    max-width: none;
    border-radius: 0.5rem;
  }

  .boxes {
    grid-area: boxes;
    display: grid;
    padding: 0.5rem;
    background-color: var(--neutral-200, #f8f8f8);
    border-radius: 0.5rem;
    gap: 0.5rem;

    .box {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      gap: 1rem 0.5rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: var(--neutral-white, #ffffff);
      grid-template-areas:
        "icon heading"
        "description description";

      .icon {
        grid-area: icon;
        width: 1.5rem;
        height: 1.5rem;
      }

      .heading {
        grid-area: heading;
        -webkit-text-stroke-width: 0.25px;
        -webkit-text-stroke-color: var(--neutral-700, #303030);
        color: var(--neutral-700, #303030);
        font-weight: 400;
        line-height: 1.16;
        font-family: var(--font-family-poppins);
        font-size: var(--typography-body-xl, 1.125rem);
        margin-top: 3px;
      }

      .description {
        grid-area: description;
        font-size: var(--typography-body-m, 0.875rem);
      }
    }
  }

  .ctaParagraph {
    grid-area: ctaParagraph;
    margin-top: clamp(1.5rem, calc(2vw / 0.48), 3rem);
    max-width: 53.875rem;
    text-align: center;
    font-size: var(--typography-body-m, 0.875rem);
  }

  a {
    grid-area: ctaButton;
    margin-top: 1rem;
  }

  @media (max-width: 56.1875rem) {
    grid-template-columns: 1fr;
    max-width: 38rem;
    grid-template-rows: repeat(4, auto) 1fr;
    grid-template-areas:
      "header"
      "image"
      "boxes"
      "ctaParagraph"
      "ctaButton";

    img {
      width: 100%;
      max-width: 100%;
    }

    .boxes {
      margin-top: 0.5rem;
    }
  }

  @media (max-width: 27.4375rem) {
    .boxes .box {
      grid-template-columns: 1fr;
      gap: 0.5rem;
      grid-template-rows: repeat(2, auto) 1fr;
      padding: 1rem 0.5rem;
      grid-template-areas:
        "icon"
        "heading"
        "description";
    }

    a {
      margin-top: 1.5rem;
      width: 100%;
      max-width: 100%;
    }
  }
}
