
.inlineImage {
  border-radius: 0.25rem;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 300px;
  vertical-align: middle;  vertical-align: middle;
  margin: 0.25rem 0.75rem 0.25rem 0;
  display: inline;
  float: left;
  clear: both;
}

