.inlineImage {
  border-radius: 0.25rem;
  width: auto;
  height: auto;
  vertical-align: top;
  shape-margin: 1rem;
  clear: both;

  @media (max-width: 56.1875rem) {
    max-width: 40% !important;
  }
}

.floatLeft {
  float: left;
  margin: 0.5rem 1rem 0.5rem 0;
  padding-top: 0.5rem;
}

.floatRight {
  float: right;
  margin: 0.5rem 0 1rem 1.5rem;
}
