.headingWrapper {
  display: flex;
  gap: 0.125rem;
  align-items: center;

  .icon {
    flex-shrink: 0;
    margin-top: 1.925rem;

    svg {
      width: 2.125rem;
      height: 2.125rem;
    }
  }
}
