.headingWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;

  .icon {
    flex-shrink: 0;
    width: 2.0975rem;
    height: 2.0975rem;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .heading {
    font-family: var(--font-family-poppins);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.16;
    color: var(--neutral-black);
    margin: 0;
  }
}
