.list {
  .item {
    padding-left: 1.75rem;
    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none'%3E%3Cg stroke='%23E7E7E7' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' clip-path='url(%23a)'%3E%3Cpath d='M2.5 6h7M6.5 9l3-3M6.5 3l3 3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h12v12H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      position: absolute;
      left: 0px;
      top: 2px !important;
      display: grid;
      place-items: center;
      border-radius: 50%;
      width: 1.25rem;
      height: 1.25rem;
      line-height: 1.38;
      background-color: var(--primary-red, #fe0140);
    }
  }
}
