.wrapper {
  width: 100%;
  overflow-x: auto;
  margin: 1.5rem 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  tbody {
    width: 100%;
  }
}

.row {
  border-bottom: 1px solid var(--color-border);

  &:last-child {
    border-bottom: none;
  }
}

.cell {
  padding: 1rem;
  text-align: left;
  vertical-align: top;
  font-size: 1rem;
  line-height: 1.5;

  &:first-child {
    font-weight: 500;
    width: 40%;
  }

  &:last-child {
    width: 60%;
  }

  @media (max-width: 37.4375rem) {
    padding: 0.75rem 0.5rem;
    font-size: 0.9375rem;

    &:first-child {
      width: 35%;
    }

    &:last-child {
      width: 65%;
    }
  }
}
