.Button {
  min-height: 2.25rem;
  display: flex;
  align-items: stretch;
  isolation: isolate;
  max-width: fit-content;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    min-height: 2.75rem;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }

  .iconContainer {
    min-width: 2.5rem;
    display: grid;
    place-items: center;
    background-color: var(--primary-red, #fe0140);
    overflow: hidden;
    border-radius: 0.25rem 0 0 0.25rem;
    position: relative;
    z-index: 1;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: var(--neutral-white, #ffffff);
      transition: transform 275ms cubic-bezier(0.77, 0, 0.175, 1);

      &:nth-child(2) {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-200%, 200%) scale(0.25);
        transition: transform 375ms cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  }

  .textContainer {
    display: grid;
    place-items: center;
    padding: 0.25rem 1rem;
    color: var(--neutral-white, #ffffff);
    font-size: var(--typography-body-m, 0.875rem);
    border-radius: 0 0.25rem 0.25rem 0;
    z-index: 2;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--neutral-700, #303030);
      z-index: -2;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
      background-color: var(--primary-red, #fe0140);
      transform: translateY(-50%) translateX(-15%) scale(0);
      transform-origin: left;
      transition: transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
      z-index: -1;
      border-radius: 50%;
    }

    span {
      transition:
        transform 350ms cubic-bezier(0.16, 1, 0.3, 1) 25ms,
        color 100ms 100ms;
      font-weight: 400;
      line-height: 1.16;
      display: inline-block;
      letter-spacing: -0.03em;
      text-align: start;
    }
  }

  &:hover,
  &:focus-visible {
    .iconContainer {
      svg {
        &:nth-child(1) {
          transform: translate(125%, -125%) scale(0.5);
        }

        &:nth-child(2) {
          transform: translate(-50%, 50%) scale(1);

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--primary-red, #fe0140);
          }
        }
      }
    }
    .textContainer {
      span {
        transform: translateX(2px);
      }
    }
  }

  &:focus:not(:focus-visible) {
    .textContainer {
      &::after {
        transform: translateY(-50%) translateX(-15%) scale(1.25);
      }
    }
  }

  &:focus:hover {
    .iconContainer {
      svg {
        &:nth-child(2) {
          transform: translate(-50%, 50%) scale(1) rotate(45deg);
        }
      }
    }
  }

  &:focus-visible {
    outline: 2px solid var(--neutral-700, #303030);
    outline-offset: 3px;
    border-radius: 0.25rem;
  }

  &[data-variant='secondary'] {
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      background-color: var(--neutral-400, #e7e7e7);
      border-radius: 0rem 0.25rem 0.25rem 0;
      height: 100%;
      width: calc(100% - 2.5rem);
    }
    .textContainer {
      &::before {
        inset: 1px;
        height: auto;
        width: auto;
        border-radius: 0rem 0.15rem 0.15rem 0;
        background-color: var(--neutral-white, #ffffff);
      }

      span {
        color: var(--neutral-700, #303030);
      }
    }

    &:focus:not(:focus-visible) {
      .textContainer {
        span {
          color: var(--neutral-white, #ffffff);
        }
      }
    }

    &:focus-visible {
      outline-color: var(--neutral-white, #ffffff);
    }
  }
}
