.image {
  border-radius: 0.5rem;
  margin: 2rem 0;
  width: 100%;
  max-height: 700px;

  // First image after a heading should have smaller top margin
  p + strong + &,
  h3 + &,
  h4 + & {
    margin: 1rem 0;
  }
}

