.technicalData {
  background-color: var(--neutral-200, #f8f8f8);
  border-radius: 0.5rem;
  margin: clamp(1.5rem, calc(2vw / 0.48), 2.5rem) auto;
  gap: clamp(1.5rem, calc(2vw / 0.48), 3rem);
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
  padding: clamp(1rem, calc(2vw / 0.48), 2rem);

  .heading {
    position: sticky;
    top: 9.75rem;
    align-self: start;
    z-index: 10;
  }

  .table {
    width: 100%;
    overflow: hidden;
    border-radius: 0.75rem;

    tbody {
      width: 100%;

      .row {
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);

        &:last-child {
          border-bottom: none;
        }

        &:nth-child(even) {
          background-color: var(--neutral-white, #ffffff);
        }

        .cell {
          padding: 1rem;
          font-size: var(--typography-body-m, 0.875rem);
          line-height: 1.5;

          &:first-child {
            font-weight: 400;
            color: var(--neutral-700, #303030);
            -webkit-text-stroke-width: 0.25px;
            -webkit-text-stroke-color: var(--neutral-700, #303030);
            text-align: left;
            vertical-align: top;
            width: 9.875rem;
          }

          &:last-child {
            width: 70%;
            color: var(--neutral-black, #000000);
          }

          > p {
            margin: 0;
          }
        }
      }
    }
  }

  @media (max-width: 56.1875rem) {
    grid-template-columns: 1fr;

    .heading {
      position: static;
    }
  }
  @media (max-width: 33.6875rem) {
    width: 100%;
  }
}
