.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  padding: 1rem;
  animation: fadeIn 250ms cubic-bezier(0.16, 1, 0.3, 1);

  .modal {
    background: var(--neutral-white);
    border-radius: 1rem;
    box-shadow:
      0 0.25rem 1rem rgba(0, 0, 0, 0.08),
      0 0.5rem 2rem rgba(0, 0, 0, 0.12);
    width: 100%;
    max-width: clamp(24rem, calc(28vw / 0.48), 28rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(1.5rem, calc(2vw / 0.48), 2rem);
    animation: slideUpModal 250ms cubic-bezier(0.16, 1, 0.3, 1);
    text-align: center;
    max-height: calc(100dvh - 4rem);

    .iconWrapper {
      display: grid;
      place-items: center;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.03);
      width: 4rem;
      height: 4rem;
      margin-bottom: 1rem;
      flex-shrink: 0;

      svg {
        width: 1.625rem;
        height: 1.625rem;
        color: rgba(0, 0, 0, 0.35);
      }
    }

    .title {
      font-size: 1.375rem;
      font-weight: 500;
      color: var(--neutral-black, #000);
      margin: 0 0 0.625rem;
      letter-spacing: -0.025em;
    }

    .message {
      font-size: 0.9375rem;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.65);
      margin: 0 0 clamp(1.5rem, calc(1.75vw / 0.48), 2rem) 0;
      max-width: 26rem;
      line-height: 1.5;
      overflow-y: auto;

      strong {
        font-weight: 500;
        color: var(--neutral-black, #000);
      }
    }

    .actions {
      display: flex;
      gap: clamp(0.75rem, calc(1vw / 0.48), 1rem);
      width: 100%;

      button {
        flex: 1;
        width: 100%;
        min-height: 2.5rem;
        max-width: 100%;
      }
    }
  }

  @media (max-width: 27.4375rem) {
    align-items: flex-end;
    padding: 0;
    .modal {
      max-width: 100%;
      border-radius: 0.75rem 0.75rem 0 0;
      padding: 2rem 1rem;
      animation: slideUpMobile 350ms cubic-bezier(0.16, 1, 0.3, 1);

      .actions {
        flex-direction: column;
      }
    }
  }
  @media (max-height: 23.6875rem) {
    .modal {
      .title {
        margin-bottom: 2rem;
      }
      .message {
        display: none;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUpModal {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpMobile {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
