.container {
  max-width: var(--max-width);
  width: calc(100% - var(--pageMargin) * 2);
  margin: 0 auto;
  height: 100%;
  padding-bottom: clamp(3rem, calc(4vw / 0.48), 5rem);
  display: grid;
  grid-template-columns: minmax(16rem, 20rem) 1fr;
  column-gap: clamp(1.5rem, calc(3.5vw / 0.48), 8rem);
  align-items: start;
  grid-template-areas:
    "tableOfContent header"
    "tableOfContent body";

  .header {
    grid-area: header;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--neutral-300, #e5e5e5);
    margin-bottom: clamp(2rem, calc(2vw / 0.48), 2.5rem);
    max-width: 44rem;
  }

  .heading {
    font-size: var(--typography-header-l, 2.5rem);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  .description {
    font-size: var(--typography-body-l, 1rem);
  }

  .body {
    max-width: 44rem;
    grid-area: body;

    ul li::before {
      top: 10px;
    }
  }

  @media (max-width: 69.3125rem) {
    grid-template-columns: 1fr;
    max-width: 48rem;
    grid-template-areas:
      "tableOfContent"
      "header"
      "body";

    > nav {
      margin-bottom: 2rem;
    }

    .header,
    .body {
      max-width: 100%;
    }
  }
}
