.checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  align-items: center;
  width: fit-content;
  min-height: 2.75rem;
  column-gap: 0.375rem;
  color: var(--neutral-700, #303030);
  font-size: var(--typography-body-m, 0.875rem);
  cursor: pointer;
  user-select: none;
  justify-content: flex-start;
  z-index: 1;
  position: relative;

  p {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 0.125rem;
    max-width: fit-content;
  }

  .checkmark {
    position: relative;
    width: 1.125rem;
    height: 1.125rem;
    overflow: hidden;
    background-color: var(--neutral-white, #ffffff);
    border: 1px solid var(--neutral-600, #5b5a5a);
    border-radius: 0.25rem;
    transition: border-color 240ms;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 3px;

    input {
      position: absolute;
      opacity: 0;
    }

    .icon {
      display: grid;
      place-items: center;
      width: 100%;
      height: 100%;
      background-color: var(--primary-red, #fe0140);
      border-radius: 0.25rem;
      opacity: 0;
      transition: opacity 180ms;
    }
  }

  &[data-mode='dark'] {
    color: var(--neutral-300, #f7f3f3);

    .checkmark {
      background-color: var(--neutral-black, #000000);
      border-color: var(--neutral-400, #e7e7e7);
    }

    // .icon {
    //   background-color: var(--primary-red, #fe0140);
    // }
  }

  &:has(input:focus-visible) {
    .checkmark {
      outline: 2px solid var(--neutral-700, #303030);
      outline-offset: 2px;
    }

    &[data-mode='dark'] {
      .checkmark {
        outline-color: var(--neutral-white, #ffffff);
      }
    }
  }

  &:has(input[aria-invalid='true']) {
    .checkmark {
      border-color: var(--primary-error, #ff6a00);
    }
  }

  &:has(input:checked) {
    .checkmark {
      border-color: var(--primary-red, #fe0140);
      transition: border-color 180ms;
      .icon {
        opacity: 1;
      }
    }
  }

  &:hover {
    .checkmark {
      border-color: var(--primary-red, #fe0140);
    }
  }

  span[role='alert'] {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-top: 0.25rem;
  }
}
