.featuredProducts {
  padding: clamp(2rem, calc(3vw / 0.48), 4.5rem) 0
    clamp(2rem, calc(3vw / 0.48), 3rem);
  display: flex;
  align-items: center;
  gap: clamp(1rem, calc(1.5vw / 0.48), 2rem);

  .header {
    width: 100%;
    flex-shrink: 0;
    padding: 1rem 1.5rem;
    max-width: 26.625rem;
    display: flex;
    flex-direction: column;

    max-width: clamp(15em, calc(17vw / 0.48), 26.625rem);

    .tabSwitcher {
      margin-bottom: 2rem;
      background-color: var(--neutral-white, #ffffff);
      border-radius: 999rem;
      border: 2px solid var(--neutral-400, #e7e7e7);
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      width: 100%;
      max-width: 18.3125rem;
      position: relative;
      isolation: isolate;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: 2;
        background-color: var(--primary-red, #fe0140);
        border-radius: 999rem 0 0 999rem;
        transition:
          transform 280ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
          border-radius 280ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }

      .tabButton {
        color: var(--neutral-600, #5b5a5a);
        padding: 0.5rem;
        font-weight: 400;
        line-height: 1.16;
        border-radius: 999rem;
        min-height: 2.75rem;
        display: flex;
        z-index: 3;
        align-items: center;
        justify-content: center;
        transition: color 150ms;

        &:first-of-type {
          border-radius: 999rem 0 0 999rem;
          color: var(--neutral-black, #000000);
        }

        &:last-of-type {
          border-radius: 0 999rem 999rem 0;
        }
      }

      .tabSwitcherIndicator {
        position: absolute;
        inset: 0;
        background-color: var(--neutral-400, #e7e7e7);
        border-radius: 999rem;

        &::before,
        &::after {
          content: "";
          background-color: var(--neutral-white, #ffffff);
          height: 100%;
          width: calc(50% - 2px);
          border-radius: 999rem 0 0 999rem;
          position: absolute;
          top: 0;
        }

        &::after {
          border-radius: 0 999rem 999rem 0;
          right: 0;
        }
      }

      &[data-active-tab="bestsellers"] {
        &::before {
          transform: translateX(calc(100% + 2px));
          border-radius: 0 999rem 999rem 0;
        }

        .tabButton {
          &:first-of-type {
            color: var(--neutral-600, #5b5a5a);
          }

          &:last-of-type {
            color: var(--neutral-black, #000000);
          }
        }
      }
    }

    h2,
    h3 {
      margin-bottom: 1rem;
    }

    > p,
    > div:nth-of-type(2) {
      margin-bottom: 2rem;
    }
  }

  .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;

    .viewport {
      overflow: hidden;
      width: 100%;
      animation: fadeInBottom 420ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

      .container {
        $itemGap: clamp(1rem, calc(1vw / 0.48), 2rem);
        display: flex;
        gap: $itemGap;
        align-items: stretch;

        article {
          flex: 0 0 auto;
          min-width: 0;
          width: calc((100% - $itemGap) / 2);
          // width: 21rem;

          &:first-child {
            margin-left: $itemGap;
          }
        }
      }
    }

    .buttons {
      margin-top: clamp(1.5rem, calc(2vw / 0.48), 2rem);
      justify-content: flex-end;
      display: flex;
      gap: 0.75rem;
      padding: 0 0.125rem 0.125rem 0;
    }

    @keyframes fadeInBottom {
      from {
        opacity: 0;
        transform: translateY(1rem);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  @media (max-width: 56.1875rem) {
    flex-direction: column;
    gap: 2.5rem;

    .header {
      max-width: 100%;
      padding: 0;

      .heading {
        order: 1;
      }
      .description {
        order: 2;
      }
      .button {
        order: 3;
      }

      .tabSwitcher {
        order: 4;
        margin-bottom: 0;
        margin-top: 2rem;
      }
    }
  }

  @media (max-width: 43.6875rem) {
    .carousel {
      width: calc(100% + var(--pageMargin));
      margin-right: calc(-1 * var(--pageMargin));

      .viewport {
        .container {
          article {
            width: 21rem;
          }
        }
      }

      .buttons {
        padding-right: var(--pageMargin);
      }
    }
  }

  @media (max-width: 27.4375rem) {
    .header {
      > a,
      .tabSwitcher {
        max-width: 100%;
        width: 100%;
      }
    }

    .carousel {
      .viewport {
        .container {
          article {
            width: 18rem;
          }
        }
      }
      .buttons {
        justify-content: center;
      }
    }
  }
}
