.switch {
  width: 4.25rem;
  height: 2.75rem;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  input {
    position: absolute;
    opacity: 0;
    clip: rect(0 0 0 0);
  }
  &:has(input:disabled) {
    opacity: 0.62;
  }
  cursor: pointer;
  border-radius: 999rem;
  border: 2px solid var(--neutral-700, #303030);
  background-color: var(--neutral-200, #f8f8f8);
  transition:
    background-color 280ms,
    border-color 280ms;

  &:hover {
    border-color: var(--primary-red, #fe0140);
  }

  &:has(input:focus-visible) {
    outline: 2px solid var(--primary-red, #fe0140);
    outline-offset: 2px;
  }

  &:has(input:checked) {
    border-color: var(--primary-red, #fe0140);
    background-color: rgba(254, 1, 64, 0.1);

    .dot {
      transform: translateX(21px);
      background-color: var(--primary-red, #fe0140);
    }
  }

  .dot {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--neutral-700, #303030);
    transition:
      transform 340ms cubic-bezier(0.23, 1, 0.32, 1),
      background-color 250ms;
  }
}
