.customerPanelShell {
  padding: clamp(2.5rem, calc(4vw / 0.48), 5rem) 0;
  display: grid;
  grid-template-columns: minmax(15rem, 17rem) minmax(0, 1fr);
  align-items: start;
  gap: clamp(1.25rem, calc(2vw / 0.48), 2rem);

  .panelContent {
    min-width: 0;
  }

  @media (max-width: 63.6875rem) {
    padding: 2rem 0 3rem;
    width: calc(100% - 4rem);
    grid-template-columns: 1fr;
  }

  @media (max-width: 37.4375rem) {
    width: calc(100% - var(--pageMargin) * 2);
    padding-bottom: 0rem;
    display: flex;
    flex-direction: column;

    .panelContent {
      order: 1;
    }
  }
}
