.wrapper {
  margin: clamp(2rem, calc(2.5vw / 0.48), 3rem) 0;

  .caption {
    > p {
      margin: 0;
      font-size: var(--typography-body-m, 0.875rem);

      a {
        &::before,
        &::after {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }
}

.image {
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  max-height: 700px;

  &[data-no-wrapper] {
    margin: clamp(2rem, calc(2.5vw / 0.48), 3rem) 0;
  }

  &.singleImage {
    margin-top: clamp(1rem, calc(1.5vw / 0.48), 2rem);
  }

  &.autoWidth {
    width: auto;
    max-width: 100%;
  }
}

.doubleWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  &[data-no-wrapper] {
    margin: clamp(2rem, calc(2.5vw / 0.48), 3rem) 0;
  }

  @media (max-width: 37.4375rem) {
    grid-template-columns: 1fr;
  }

  img {
    border-radius: 0.25rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 400px;
  }
}
